.dashboard_wrapper {
  background-color: rgb(216, 232, 232);
  min-height: 100vh;
  padding: 30px;

  .header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      width: auto;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
